<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans>
        <bean class="com.geekbang.spring.demo01.Student" name="shitiancheng">
            <property name="id" value="1"/>
            <property name="name" value="shitiancheng"/>
            <property name="clazz" value="1班"/>
        </bean>
        <bean class="com.geekbang.spring.demo01.Student" name="student">
            <property name="clazz" value="1班"/>
        </bean>
    </beans>
</beans>